body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#5858FA;
}

.row{
    color:#000000;
}

.row h2{
    color:#000000;
}

.shipment-container{
    background-color: #ffffff;
    width:60%;
    height:350px;
    margin: 0 auto;
}

.form-container{
    background-color: #ffffff;
    width:50%;
    height:350px;
    margin: 0 auto;
}

.input-width{
    width:200px;
}

.form-group-search{
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:30%;
    margin:-100px 0 0 -150px;
}

.instructions{
    left:50%;
    right:50%;
    top:75%;
    bottom: 25%;
}

.display{
    width:650px;
    height:500px;
    position:absolute;
    top:30%;
    left:22%;
    text-align: center;
}

.displayDocs{
    width:650px;
    height:auto;
    position:absolute;
    top:20%;
    left:23%;
    text-align: center;
}

.form-display{
    width:650px;
    position: relative;
    left:15%;
    text-align: center;
}

.form-display-add-update{
    width:650px;
    position: relative;
    left:-5%;
    text-align: center;
}

.display table td{
    border: solid thin #000 ;
}

.form-display table td{
    /*border: solid thin #000 ;*/
    padding:4px;
}

.form-display label{
    text-align: right;
}

footer{
    text-align: center;
}

.employee-center{
    width:550px;
    height: 350px;
    position: relative;
    top:30%;
    left:7%;
    text-align: center;
}