body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#5858FA;
    color:#000000;
}


.row-main{
    color:#000000;
}

.row-main h2{
    color:#000000;
}

.shipment-container{
    background-color: #ffffff;
    width:1128px;
    height:auto;
    margin: 0 auto;
}

.form-container{
    background-color: #ffffff;
    width:50%;
    height:525px;
    margin: 0 auto;
}

.input-width{
    width:200px;
}

.form-group-search{
    width:300px;
    position:relative;
    margin: 0 auto;
}


.display{
    width:1124px;
    height:auto;
    position:relative;
    margin: 0 auto;
    text-align: center;
}

.display-update{
    padding: 5px;
}

.displayDocs{
    width:650px;
    height:auto;
    position:absolute;
    top:20%;
    left:23%;
    text-align: center;
}

.form-display{
    width:650px;
    position: relative;
    left:15%;
    text-align: center;
}

.form-display-add-update{
    width:650px;
    position: relative;
    left:-5%;
    text-align: center;
}

/*.display table td{
    border: solid thin #000 ;
}

.form-display table td{

    padding:4px;
}*/

.form-display label{
    text-align: right;
}

footer{
    text-align: center;
}

.employee-center{
    width:550px;
    height: 350px;
    position: relative;
    top:30%;
    left:7%;
    text-align: center;
}